// Colors

$color-dark-gray: #2b2b2b;
$color-teal-green: #218e70;
$color-green: #35df1e;
$color-red: #e01c1c;
$color-yellow: #e78e1a;

// --------------- //

// Fontes

$font-medium: 2.2rem;
$font-small: 1.5rem;

// --------------- //

// Default

$default-borders-radius: 1.5rem;
$default-border: 3px solid #2b2b2b;

// --------------- //
