@use "../../styles/GlobalFunctions.scss" as Fun;
@use "../../styles/GlobalMixins.scss" as Mix;
@use "../../styles/GlobalVariables.scss" as Var;

@mixin form-element-style {
  @include Mix.size-field-base($width: 100%);
  @include Mix.spacing-field-base($padding: 0.9rem);
  @include Mix.box-frame-field-base($radius: Var.$default-border-radius, $border: 1px solid white);
  @include Mix.font-field-base($size: 1.6rem);
  @include Mix.colors-field-base($background: Var.$gray-dark, $color: white, $background-selection: Var.$purple-primary, $color-selection: white);
  box-shadow: 0.2rem 0.3rem 0.6rem rgba(0, 0, 0, 0.411);
}

@mixin button-base($bg-color) {
  @include Mix.div-field-base($display: flex, $gap: 1rem);
  @include Mix.align-field-base($justify: center, $align: center);
  @include Mix.size-field-base($width: 100%);
  @include Mix.spacing-field-base($padding: 0.5rem);
  @include Mix.box-frame-field-base($radius: Var.$default-border-radius);
  @include Mix.font-field-base($size: Fun.scale-percent(Var.$font-lg, 50));
  @include Mix.colors-field-base($background: $bg-color, $color: white);
  justify-self: center;
  cursor: pointer;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.349);

  & img {
    @include Mix.size-field-base($width: 4rem);
  }
}

.machine-creator__background {
  @include Mix.div-field-base($display: flex);
  @include Mix.position-field-base($position: fixed);
  @include Mix.align-field-base($justify: center, $align: center);
  @include Mix.colors-field-base($background: rgba(0, 0, 0, 0.692));
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.machine-creator__box {
  @include Mix.div-field-base($display: flex);
  @include Mix.align-field-base($justify: center, $align: center);
  @include Mix.size-field-base($width: 60rem, $height: 95rem);
  @include Mix.box-frame-field-base($radius: Var.$default-border-radius);
  @include Mix.colors-field-base($background: Var.$purple-dark);
  @include Mix.spacing-field-base($padding: 1rem);
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.514);
}

.machine-creator__form {
  @include Mix.div-field-base($display: flex, $direction: column, $gap: 1rem);
  @include Mix.align-field-base($align: center);
  @include Mix.size-field-base($width: 45rem);

  label {
    @include Mix.font-field-base($size: Fun.scale-percent(Var.$font-md, 40));
  }

  & img {
    @include Mix.size-field-base($width: 15rem);
  }
}

.machine-creator__input {
  @include Mix.div-field-base($display: flex, $direction: column);
  @include Mix.align-field-base($justify: center);
  @include Mix.size-field-base($width: 100%);

  & input {
    @include form-element-style;
  }
}

.machine-creator__select {
  @include Mix.size-field-base($width: 100%);

  & select {
    @include form-element-style;
  }
}

.machine-creator__label {
  @include Mix.div-field-base($display: flex, $direction: column);
  @include Mix.size-field-base($width: 100%);

  & textarea {
    @include form-element-style;
    resize: vertical;
    height: 9rem;
    min-height: 4rem;
    max-height: 9rem;
    overflow: hidden;
  }
}

.machine-creator__date {
  @include Mix.div-field-base($display: flex, $gap: 2rem);
  @include Mix.align-field-base($align: center);

  & div {
    @include Mix.div-field-base($display: flex, $direction: column);
    @include Mix.size-field-base($width: 100%);

    & input {
      @include form-element-style;
      @include Mix.size-field-base($width: 21.5rem);
      @include Mix.spacing-field-base($padding: 0.7rem);
      @include Mix.font-field-base($size: Fun.scale-percent(Var.$font-md, 40));
      text-align: center;
    }
  }
}

.machine-creator__button {
  @include Mix.div-field-base($display: flex, $gap: 1rem);
  @include Mix.align-field-base($align: center, $justify: center);
  @include Mix.size-field-base($width: 100%);
  margin-top: 2rem;

  &-confirm {
    @include button-base(rgb(18, 134, 18));
    transition: 200ms ease;

    &:hover {
      background-color: rgb(4, 92, 4);
    }
  }

  &-exclude {
    @include button-base(rgb(255, 166, 0));
    transition: 300ms ease;

    &:hover {
      background-color: rgb(187, 131, 28);
    }
  }

  &-cancel {
    @include button-base(rgb(180, 12, 12));
    transition: 300ms ease;

    &:hover {
      background-color: rgb(126, 8, 8);
    }
  }
}
