@use "../../GlobalStyle.scss" as Style;

.machinesview__div-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 2rem 1.5rem;
}

.machinesview__div-add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  cursor: pointer;
  border-radius: Style.$default-border-radius;
  background-color: Style.$purple-light;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: 300ms ease;

  &:hover {
    background-color: Style.$gray-dark;
    transform: translateX(3px);
  }

  img {
    width: 7rem;
  }
}
